
/*
 * Globals
 */

/* Custom Fonts */

@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('../fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Variable.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Variable.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #0C0B26;
  text-align: center;
  font-family: 'CabinetGrotesk-Variable';
  font-weight: 800;
  font-size: 35px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
    
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
    
}
.cover-container {
  margin-right: auto;
  margin-left: auto;

}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin-top: inherit;
}
.cover .btn-lg {
  padding: 100px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  object {
    width: 250px;
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
    
}

@media (max-width: 768px) {
  object {
    width: 180px;
  }
  body {
    font-size: 25px;
  }
    
}


.background {
  position:fixed;
  height: 100vh;
  width: 100vw;
  background: 
  radial-gradient(66.41% 66.41% at 20% 60%, #854BFF 20%, rgba(255, 131, 175, 0) 100%) top left/130% 130%, 
  radial-gradient(47.18% 71.84% at 54.72% 20%, #FF445C 20%, rgba(255, 68, 92, 0) 100%) top left/130% 130%, 
  #FDD262;
  
  filter: blur(0px);

  -webkit-animation: fusecup 5s ease infinite;
    -moz-animation: fusecup 5s ease infinite;
    animation: fusecup 20s alternate infinite;
}

@-webkit-keyframes fusecup {
    0%{background-position: top left;}
    25%{background-position: bottom left;}
    50%{background-position: bottom right;}
    65%{background-position: top right;}
    100%{background-position: top left;}
}
@-moz-keyframes fusecup {
    0%{background-position: top left;}
    25%{background-position: bottom left;}
    50%{background-position: bottom right;}
    65%{background-position: top right;}
    100%{background-position: top left;}
}
@keyframes fusecup {
    0%{background-position: top left;}
    25%{background-position: bottom left;}
    50%{background-position: bottom right;}
    65%{background-position: top right;}
    100%{background-position: top left;}
}